name: Update README

on:
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Run script
        run: deno run --allow-all scripts/readme.ts
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore(docs): update readme'
          commit_user_name: "Ryan Cao's bot"
          commit_user_email: '98804099+ryanccn-bot@users.noreply.github.com'
