name: Release

on:
  release:
    types: [published]

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - run: go install github.com/packwiz/packwiz@latest
      - run: deno run --allow-all scripts/release.ts
        env:
          RELEASE_NAME: ${{ github.event.release.name }}
          RELEASE_TAG: ${{ github.event.release.tag_name }}
